@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.jumbotron h4 {
  margin-bottom: 30px;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron button {
  margin-top: 30px;
}

.collab_container {
  margin-top: 100px;
}

.collab_container img {
  width: 200px;
  margin-bottom: 50px;
}
