@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.jumbotron h4 {
  margin-bottom: 30px;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron button {
  margin-top: 30px;
}

.collab_container {
  margin-top: 100px;
}

.collab_container img {
  width: 200px;
  margin-bottom: 50px;
}

.testimoni_container {
  height: 450px;
  padding: 40px 0;
}

.testimoni_container h3 {
  margin-top: 20px;
  margin-bottom: 60px;
  color: #2C3050;
  font-weight: bold;
}

.testimoni_container h4 {
  margin-top: 10px;
  margin-bottom: 20px;
  
}

.testimoni_container h5 {
  padding: 0 50px;
}

.testimoni_container img {
  width: 150px;
  margin: auto;
}

footer {
  margin-top: 150px;
  height: 350px;
  background-color: black;
  color: white;
  padding: 50px 0;
}

footer svg {
  margin-right: 15px;
}

footer h5 {
  margin-bottom: 20px;
}

footer img {
  margin-bottom: 20px;
}